* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5deb3;
  font-family: sans-serif;
  font-size: 20px;
  padding: 45px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: aquamarine;
  padding: 1rem;
  border: 5px solid #444;
  padding: 25px;
  margin-top: 30px;
  width: 400px;
}
input,
button {
  padding: 20px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}
